# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.builds
*.dotsettings
*.resharper
*.dbmdl
*.jfm
*.pfx
*.snk
*.swupd/
*.bak
*.log
log/
logs/
*.ide
.project
.classpath
.settings/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.ilk
*.lib
*.obj
*.o
*.ncb
*.opendb
*.tlb
*.tlh
*.tli
*.tmp
*.sbr
*.pch
*.ipch
*.testresults
*.trx
*.coverage
*.userprefs
*.vmdk
*.vbox
*.vdi
*.vmwarevm
*.vbox-prev
*.vbox-tmp
*.vbox-log
*.swp
*.swo
*.un~
*.bak~
*.diff
*.patch
*.orig
*.rej


# Visual Studio Code
.vscode/

# Rider
.idea/

# Other
*.vspscc
*.vssscc
*.buildlog
*.json.log
*.js.map
*.css.map
*.min.map
*.swp
*.swo
*.un~
*.bak~
*.diff
*.patch
*.orig
*.rej
